body{
    background-color: bisque;

}
h1{
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}
.total_routers{
  background-color: rgb(167, 208, 234);
  border-radius: 4%;
  border: black 2px solid;
  margin-right: 4px;
  height: 250px;
  width: 250px;
}
.online{
  background-color: rgb(233, 172, 172);
  border-radius: 4%;
  border: black 2px solid;
  height: 250px;
  width: 250px;
}
.offline{
  background-color: rgba(211, 211, 211, 0.747);
  border-radius: 4%;
  border: black 2px solid;
  height: 250px;
  width: 250px;
}
.container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}