{%extends "blueprint/main.html"%}
{%load static%}
{%block title%}Finance{%endblock%}

{%block extra_css%}
  <link rel="icon" href="{% static 'ISPManagement/images/favicon.ico'%}" type="image/x-icon">
  <link rel="stylesheet" href="{%static 'ISPManagement/finance.css'%}">
{%endblock%}

{%block content%}
  <center><h1>ISP YEARLY FINANCIAL REPORT </h1></center>
  <canvas id="myChart" style="width:100%; height: 400px;background-color: white;"></canvas>
    {% block extra_js %}
    <center><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script>
  var xValues = ["January", "February", "March", "April", "May","June","July","August","September","October","November","December"];
  var yValues = [100000, 80000, 90000, 60000, 50000,70000,40000,25000,45000,55000,65000,78000];
  var barColors = ["red", "green","blue","orange","brown","black","yellow","violet","maroon","grey","whitesmoke","khaki"];

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "ISP Monthly Income Trend"
      }
    }
  });
  </script>
  </center>
{%endblock%}
{%endblock%}




